.about-us {
  padding-top: 30px;
}

@media (min-width: $tablet-size) {
  .about-us {}
}

.about-us__title {
  margin-bottom: 35px;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-size) {
  .about-us__list {
    flex-wrap: wrap;
    max-height: 500px;
  }
}


.about-us__item {
  position: relative;
}

@media (min-width: $tablet-size) {
  .about-us__item {
    max-width: 350px;
  }
}

.about-us__text {
  width: 200px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 60px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;

  &--wool {
    width: 220px;
  }

  &--rocket {
    width: 100%;
  }
}

.about-us svg {
  position: absolute;
  top: 0;
  left: 0;
}

.about-us path {
  fill: $teal;
}
