.button {
  display: block;
  margin: 0;
  padding: 12px 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #444444;

  border: 2px solid #444444;

  transition: ease-in-out .3s;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;

    background-color: #444444;
  }

  &:active {
    color: rgba($white, .3);
  }
}
