.button {
  box-sizing: border-box;

  display: block;
  margin: 0;
  padding: 15px 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;

  background-color: $white;

  border: 2px solid #444444;

  transition: ease-in-out 0.3s;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;

    background-color: #444444;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
