.categories {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__container {
  position: relative;
  height: 108px;

  background-color: $teal;
}


.categories__item {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  padding: 30px;
  padding-right: 160px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $white;

  transition: ease-in-out .2s;

  &--interrior {
    background-color: $teal;

    &:hover,
    &:focus,
    &:active {
      background-color: $teal-hover;

    }
  }

  &--toys {
    background-color: $teal-dark;

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
    }
  }

  &:hover {
    top: -5px;
    padding-bottom: 35px;

    .categories__icon {
      bottom: 23px;
      opacity: .7;
    }
  }

  &:active {
    color: rgba($white, .3);
  }
}

.categories__icon {
  position: absolute;

  fill: #149080;
  opacity: .5;

  transition: ease-in-out .3s;

  &--interrior {
    bottom: 18px;
    right: 36px;
  }

  &--toys {
    bottom: 18px;
    right: 27px;

    &:hover,
    &:focus {
      opacity: .7;
    }
  }

  path {
    fill: #149080;
  }
}
