.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;

  list-style: none;
}

@media (min-width: $tablet-size) {
  .categories {
    flex-direction: row;
    justify-content: center;
  }
}

.categories__container {
  position: relative;
  width: 100%;
  height: 108px;

  background-color: $teal;
}

@media (min-width: $tablet-size) {
  .categories__container {
    height: 119px;
  }
}

.categories__item {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 30px;
  padding-right: 160px;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: $white;

  transition: ease-in-out 0.2s;

  &--interrior {
    background-color: $teal;

    &:hover,
    &:focus,
    &:active {
      background-color: $teal-hover;
    }
  }

  &--toys {
    background-color: $teal-dark;

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
    }
  }

  &:hover {
    padding-bottom: 35px;

    .categories__icon {
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba($white, 0.3);
  }

  span {
    display: block;
    max-width: 120px;
  }
}

@media (min-width: $tablet-size) {
  .categories__item {
    padding: 35px 30px;

    &:hover,
    &:focus {
      padding-bottom: 40px;
    }
  }
}

.categories__icon {
  position: absolute;
  top: 30px;

  opacity: 0.5;
  transition: ease-in-out 0.3s;

  &--interrior {
    right: 36px;
  }

  &--toys {
    right: 27px;
  }

  path {
    fill: #149080;
  }
}
