.categories {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  position: relative;

  display: block;
  padding: 30px;
  padding-right: 160px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $white;

  &--interrior {
    background-color: $teal;

  }

  &--toys {
    background-color: $teal-dark;
  }
}

.categories__icon {
  position: absolute;

  fill: #149080;
  opacity: 0.5;

  &--interrior {
    bottom: 18px;
    right: 36px;
  }

  &--toys {
    bottom: 18px;
    right: 27px;
  }

  path {
    fill: #149080;
  }
}
