.checkbox__label {
  position: relative;

  &::before {
    content: "";

    box-sizing: border-box;
    position: absolute;
    top: -11px;
    left: 0;

    width: 40px;
    height: 39px;

    background-color: transparent;
    border: 2px solid $black;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $teal;
    }
  }

  &:active {
    &::before {
      border-color: #c7c7c7;
    }
  }

  @media (min-width: $tablet-size) {
    &::before {
      top: -16px;
      width: 52px;
      height: 52px;
    }
  }
}

.checkbox__input {
  &:checked {
    & + .checkbox__label {
      &::after {
        content: "";

        position: absolute;
        left: 9px;
        top: 1px;

        width: 22px;
        height: 16px;

        background-image: url("../img/icon-tick.svg");
        background-size: 22px 16px;
        background-repeat: no-repeat;
      }
    }
  }

  &:focus {
    & + .checkbox__label {
      &::before {
        outline: thin dotted;
      }
    }
  }

  @media (min-width: $tablet-size) {
    &:checked {
      & + .checkbox__label {
        &::after {
          top: 0;
          left: 10px;

          width: 33px;
          height: 22px;

          background-size: 33px 22px;
        }
      }
    }
  }
}
