.contacts {
  padding-top: 25px;
}

@media (min-width: $desktop-size) {
  .contacts {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1150px;
    max-width: 1150px;
    min-height: 457px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media (min-width: $tablet-size) {
  .contacts__container {
    position: relative;
    padding-top: 27px;

    &::after {
      content: "";

      position: absolute;
      top: 11px;
      right: 55px;

      width: 47px;
      height: 81px;

      background-image: url(/img/icon-flag.svg);
      background-size: 47px 81px;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-size) {
  .contacts__container {
    padding-top: 133px;
    margin-bottom: 75px;

    &::after {
      top: 124px;
      left: 113px;
    }
  }
}

.contacts__title {
  margin-left: -2px;
  margin-bottom: 26px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

@media (min-width: $tablet-size) {
  .contacts__title {
    margin-left: -4px;
    margin-bottom: 48px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-size) {
  .contacts__title {
    margin-bottom: 49px;

    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-size) {
  .contacts__list {
    display: flex;
    margin-left: 0;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-size) {
  .contacts__list {
    flex-direction: column;
    margin-bottom: 2px;
  }
}

.contacts__item {
  &:first-child {
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-size) {
  .contacts__item {
    width: 50%;

    font-size: 17px;
    line-height: 30px;

    &:first-child {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-size) {
  .contacts__item {
    &:first-child {
      margin-bottom: 30px;
    }
  }
}

.contacts__type {
  display: inline-block;

  min-width: 75px;
}

@media (min-width: $tablet-size) {
  .contacts__type {
    min-width: 72px;
  }
}

.contacts__email {
  position: relative;

  color: $graphite;

  transition: ease-in-out 0.3s;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -5px;

    width: 100%;
    height: 1px;

    background-color: #62d1ba;
  }

  &:hover,
  &:focus {
    color: #46c1ae;

    &::after {
      background-color: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__adress {
  display: inline-block;
  vertical-align: top;
  max-width: 175px;
  margin: 0;
}

@media (min-width: $tablet-size) {
  .contacts__adress {
    max-width: 100%;
  }
}

.contacts__map {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  line-height: 0;
  text-align: center;
}

@media (min-width: $tablet-size) {
  .contacts__map {
    width: 100%;
    margin-bottom: 53px;

    img {
      width: 100%;
      height: 457px;
    }
  }
}

@media (min-width: $desktop-size) {
  .contacts__map {
    position: absolute;
    bottom: 0;
    right: 100px;

    width: 525px;
    height: 457px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-size) {
  .contacts__button-wrapper {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-size) {
  .contacts__button {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-size) {
  .contacts__button {
    margin-left: 175px;
  }
}
