.contacts__title {
  margin-bottom: 32px;
}

.contacts__list {
  margin-bottom: 38px;
}

.contacts__type {
  width: 75px;
}

.contacts__email {
  position: relative;

  color: $graphite;

  transition: ease-in-out 0.3s;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -5px;

    width: 100%;
    height: 1px;

    background-color: #62d1ba;
  }

  &:hover,
  &:focus {
    color: #46c1ae;

    &::after {
      background-color: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  line-height: 0;
}
