.copyright__container {
  margin: auto;
  display: flex;
}

.copyright__text {
  margin-left: auto;
  margin-right: 30px;
}

.copyright__link {
  margin-right: auto;

  path {
    fill: #63d1bb;
  }

  &:hover,
  &:focus {
    path {
      fill: #46c1ae;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }
}
