.goods {
  padding-top: 30px;
  padding-bottom: 0;

  @media (min-width: $tablet-size) {
    margin-bottom: 53px;
    padding-top: 77px;
  }

  @media (min-width: $desktop-size) {
    margin-bottom: 58px;
    padding-top: 122px;
  }
}

.goods__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-size) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.goods__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-size) and (max-width: 1149px) {
    flex-direction: row;
  }
}
