.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  background-color: $white;
}

@media (min-width: $tablet-size) {
  .main-nav {
    flex-direction: row;
  }
}

.main-nav__header {
  position: relative;
  width: 100%;

  display: flex;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet-size) {
  .main-nav__header {
    border-bottom: none;
  }
}

.main-nav__button {
  position: absolute;
  top: 8px;
  right: 0;

  margin: 0;
  padding: 30px;

  background-color: transparent;

  border: none;

  cursor: pointer;
}

@media (min-width: $tablet-size) {
  .main-nav__button {
    display: none;
  }
}

.main-nav__toggle {
  position: relative;

  display: block;
  width: 20px;
  height: 2px;
  margin: 0;
  margin-top: auto;

  background-color: $black;

  border: none;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $black;
  }

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $black;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  &--sell-navigation {
    display: none;
  }
}


@media (min-width: $tablet-size) and (max-width: $desktop-size) {
  .main-nav__list {
    flex-direction: row;

    &--site-navigation {
      box-sizing: border-box;

      position: absolute;
      top: 110px;
      left: 0;
      z-index: 10;

      justify-content: flex-start;
      padding: 0 50px;
    }
  }
}

@media (min-width: $desktop-size) {
  .main-nav__list {
    flex-direction: row;

    &--site-navigation {
      box-sizing: border-box;

      z-index: 10;

      justify-content: flex-start;
      order: -1;

      padding: 0;
    }

    &--sell-navigation {
      position: absolute;
      top: 110px;
      left: 0;
      z-index: 1;

      display: flex;
      width: 60%;
      margin-left: 50px;
    }
  }
}


.main-nav__item {
  position: relative;

  display: flex;
  padding: 15px;
  padding-left: 75px;

  border-bottom: 1px solid #ececec;
  border-top: none;

  svg {
    position: absolute;
    top: 18px;
    left: 30px;

    opacity: 0.2;
  }

  a {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: $black;
  }

  &--sell-navigation {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 15px;
    }
  }

  &--search,
  &--cart {

    &:hover,
    &:focus {
      svg {
        opacity: 1;

        path {
          fill: $teal;
        }
      }
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  &:hover,
  &:focus {

    a,
    ::placeholder {
      opacity: 0.6;
    }
  }

  &:active {
    a {
      opacity: 0.3;
    }
  }

}

@media (min-width: $tablet-size) {
  .main-nav__item {
    box-sizing: border-box;

    padding-top: 32px;
    padding-bottom: 32px;

    align-items: center;
    border: none;

    svg {
      top: 32px;
    }

    &--site-navigation {
      width: 167px;
      padding: 0;
    }

    &--search {
      width: auto;
      padding-left: 63px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      input {
        display: none;
      }
    }

    &--cart {
      justify-content: flex-end;
      min-width: 265px;
      padding-right: 0;
    }
  }
}

@media (min-width: $desktop-size) {
  .main-nav__item {
    &--sell-navigation {
      padding: 0;

      font-size: 15px;
      line-height: 24px;
    }
  }
}

@media (min-width: $tablet-size) {
  .main-nav__item {
    &--site-navigation {

      a {
        font-size: 15px;
      }
    }
  }
}

.main-nav__search-field {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $black;

  border: none;

  &::placeholder {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: $black;
  }
}

.main-nav__delivery {
  display: none;
}

@media (min-width: $tablet-size) {
  .main-nav__delivery {
    position: absolute;
    top: 110px;
    right: 0;
    z-index: 1;

    display: block;
    margin-right: 50px;

    font-size: 15px;
    font-weight: 400;
    color: $graphite;
  }
}
