.main-nav {
  width: 100%;

  @media (max-width: $mobile-only) {
    &--closed {
      .main-nav__list {
        display: none;
      }
    }

    &--opened {
      .main-nav__toggle {
        background-color: transparent;

        transition: 0.2s ease-in-out;

        &::before {
          top: 0;

          transform: rotate(45deg);
          transition: 0.2s ease-in-out;
        }

        &::after {
          top: 0;

          transform: rotate(-45deg);
          transition: 0.2s ease-in-out;
        }
      }
    }

    &--no-js {
      .main-nav__button {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-size) {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;

    .main-nav__header {
      order: 1;
    }

    .main-nav__list {
      &--buyer-navigation {
        order: 2;
      }

      &--site-navigation {
        order: 3;
      }

      &--promo-navigation {
        order: 4;
      }
    }
  }

  @media (min-width: $desktop-size) {
    width: 1050px;

    .main-nav__header {
      order: 2;
    }

    .main-nav__list {
      &--site-navigation {
        order: 1;

        width: 450px;
      }

      &--buyer-navigation {
        order: 3;

        width: 450px;
      }
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--promo-navigation {
    display: none;
  }

  @media (min-width: $tablet-size) {
    display: flex;
    flex-wrap: wrap;

    &--buyer-navigation {
      justify-content: flex-end;
      flex-grow: 1;

      .main-nav__search-text {
        display: none;
      }
    }

    &--site-navigation {
      width: 50%;

      .main-nav__item-link {
        min-width: 167px;
        padding: 18px 0;

        font-size: 15px;
      }
    }

    &--promo-navigation {
      width: 50%;

      .main-nav__item-link {
        display: none;

        padding: 18px 0;

        font-size: 15px;
        font-weight: normal;
        color: $graphite;

        &--delivery {
          display: flex;
          margin-left: auto;
        }
      }
    }
  }

  @media (min-width: $desktop-size) {
    &--site-navigation {
      .main-nav__item {
        box-sizing: border-box;
        z-index: 10;

        &:nth-of-type(odd) {
          width: 184px;
          padding-right: 35px;
          border-right: 1px solid #ececec;
        }

        &:nth-of-type(even) {
          padding-left: 35px;
        }
      }

      .main-nav__item-link {
        padding: 32px 0;

        font-size: 17px;
      }
    }

    &--promo-navigation {
      width: 100%;

      .main-nav__item-link {
        display: block;
        padding-right: 60px;

        font-weight: bold;
        color: $black;

        &--delivery {
          padding-right: 0;

          font-weight: normal;
          color: $graphite;
        }
      }
    }
  }
}

.main-nav__header {
  position: relative;

  display: flex;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-size) and (max-width: 1149px) {
    justify-content: flex-start;
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-size) {
    width: auto;
    margin-left: 0;
  }
}

.main-nav__logo {
  margin: 0 auto;
}

.main-nav__logo-image {
  display: block;
  width: 86px;
  height: auto;
  padding: 22px 0 21px 0;

  @media (min-width: $tablet-size) {
    width: 113px;
    padding: 22px 0 20px 0;
  }

  @media (min-width: $desktop-size) {
    width: 149px;
    padding: 8px 0 7px 0;
  }


  transition: ease-in-out 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__button {
  position: absolute;
  top: 8px;
  right: 0;

  margin: 0;
  padding: 30px;

  background-color: transparent;

  border: none;

  cursor: pointer;

  @media (min-width: $tablet-size) {
    display: none;
  }
}

.main-nav__toggle {
  position: relative;

  display: block;
  width: 20px;
  height: 2px;
  margin: 0;
  margin-top: auto;

  background-color: $black;

  border: none;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $black;
    transition: 0.2s ease-in-out;
  }

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;

    width: 20px;
    height: 2px;

    background-color: $black;
    transition: 0.2s ease-in-out;
  }
}

.main-nav__item {
  display: flex;

  border-top: 1px solid #ececec;

  @media (min-width: $tablet-size) {
    border: none;

    &--delivery {
      margin-left: auto;
    }
  }
}

.main-nav__item-link {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 26px 15px 28px 75px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $black;

  svg {
    position: absolute;

    opacity: 0.2;
  }

  &--cart {
    svg {
      top: 30px;
      left: 30px;
    }
  }

  &--search {
    svg {
      top: 31px;
      left: 32px;
    }
  }

  &:hover,
  &:focus {
    color: rgba($black, 0.6);

    svg {
      opacity: 1;
      fill: $teal;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-size) {
    width: auto;
    margin: 0;
    padding: 32px 0;

    &--search {
      width: 84px;
      height: 100%;

      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;

      svg {
        top: 36px;
        left: 33px;
      }
    }

    &--cart {
      box-sizing: border-box;
      width: 264px;
      padding-left: 82px;

      svg {
        top: 34px;
        left: 31px;
      }
    }
  }

  @media (min-width: $desktop-size) {
    &--cart {
      width: 266px;
      padding-left: 83px;
    }
  }
}
