.order-form {
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 0;
}

.order-form__description {
  margin: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-size) {
  .order-form__description {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-size) {
  .order-form__description {
    padding-left: 175px;
  }
}
