.order-form {
  padding: 30px;
  padding-top: 22px;
  padding-bottom: 0;
}

@media (min-width: $tablet-size) {
  .order-form {
    padding: 30px 0;
  }
}

.order-form__description {

  width: 260px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-size) {
  .order-form__description {
    box-sizing: border-box;
    min-width: 667px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-size) {
  .order-form__description {
    width: 1150px;
    padding: 0 225px;
    margin: 0 auto;
  }
}
