.page-header {
  box-sizing: border-box;

  width: 320px;
  margin: 0 auto;

  background-color: $white;
}

@media (min-width: $tablet-size) {
  .page-header {
    width: 768px;

    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: $desktop-size) {
  .page-header {
    width: 1150px;
  }
}

.page-header__logo {
  margin: auto;
  padding: 22px 0 21px 0;

  line-height: 0;

  transition: ease-in-out 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-size) {
  .page-header__logo {
    margin-left: 0;
  }
}

@media (min-width: $desktop-size) {
  .page-header__logo {
    margin: auto;
  }
}
