.page-footer {
  margin-top: 38px;
  padding-top: 24px;
  padding-bottom: 27px;

  background-color: #f1f1f1;
}

@media (min-width: $tablet-size) {
  .page-footer {
    padding-top: 50px;
    margin-top: 56px;

    &--form {
      margin-top: 34px;
    }
  }
}

@media (min-width: $desktop-size) {
  .page-footer {
    margin-top: 105px;

    &--form {
      margin-top: 35px;
    }

    &--inner {
      margin-top: 85px;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-size) {
  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
  }
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-size) {
  .page-footer__logo {
    display: block;
    width: 185px;
  }
}

.page-footer__social {
  padding-right: 4px;
  padding-bottom: 28px;
}

@media (min-width: $tablet-size) {
  .page-footer__social {
    padding-bottom: 0;
  }
}

.page-footer__copyright {
  position: relative;
  padding-top: 17px;
  border-top: 1px solid #e5e5e5;

  svg {
    position: absolute;
    top: 21px;
    right: 0;
  }
}


@media (min-width: $tablet-size) {
  .page-footer__copyright {
    padding: 0;
    border-top: none;

    svg {
      top: 3px;
    }
  }
}
