.product {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: $desktop-size) {
  .product {
    justify-content: space-between;
    min-height: 636px;
    padding-bottom: 0;
  }
}

.product__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $tablet-size) {
  .product__title-wrapper {
    z-index: 2;

    flex-direction: row;
  }
}

@media (min-width: $desktop-size) {
  .product__title-wrapper {
    position: relative;
  }
}

.product__title {
  margin-bottom: 5px;
}

.product__main-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-size) {
  .product__main-wrapper {
    position: relative;

    justify-content: space-between;
    min-height: 404px;
  }
}


.product__text {
  margin-top: 0;

  font-size: 15px;
  line-height: 24px;
}

.product__picture {
  width: 260px;
  height: 310px;

  margin: 0;
  padding: 0;

  background-color: #f1f1f1;
}

@media (min-width: $tablet-size) {
  .product__picture {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 333px;
    height: 404px;

    .product__image {
      width: 100%;
    }
  }
}

@media (min-width: $desktop-size) {
  .product__picture {
    width: 525px;
    height: 636px;
  }
}

.product__properties {
  width: 100%;
  margin-bottom: 28px;

  border-collapse: collapse;
}

.product__property-type,
.product__property-value {
  border-bottom: 1px solid #ececec;
}

@media (min-width: $desktop-size) {
  .product__left-column {
    &:first-child {
      padding-top: 155px;
      margin-bottom: 60px;
    }
  }
}

.product__price {
  display: block;
  padding: 26px 0;

  font-style: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.product__button {
  width: 100%;
}


@media (min-width: $tablet-size) {
  .product__text,
  .product__properties,
  .product__price,
  .product__button {
    width: 290px;
  }
}
