.production {
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-size) {
  .production {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.production__wrapper {
  position: relative;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-size) {
  .production__container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-size) {
  .production__container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    min-height: 455px;
    margin-left: auto;
    width: 345px;
    padding-top: 18px;
    padding-right: 56px;
    padding-left: 56px;
  }
}

.production__title {
  position: relative;

  padding: 24px 0 24px 88px;

  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 32px;

    display: block;
    width: 32px;
    height: 32px;

    background-image: url("../img/icon-video.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-size) {
  .production__title {
    order: 1;
    padding-left: 104px;
    margin-bottom: 8px;
    font-size: 20px;

    &::before {
      top: 18px;
      left: 40px;
    }
  }
}

@media (min-width: $desktop-size) {
  .production__title {
    padding: 77px 0 24px 0;

    &::before {
      top: 22px;
      left: 2px;
    }
  }
}

.production__video-container {
  position: relative;
  margin-bottom: 18px;

  overflow: hidden;

  img {
    width: 260px;
    height: 150px;

    background-color: $teal;
  }
}

@media (min-width: $tablet-size) {
  .production__video-container {
    box-sizing: border-box;
    order: 0;

    width: 666px;
    height: 455px;
    margin-bottom: 14px;

    border-bottom: 1px solid #ececec;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: $desktop-size) {
  .production__video-container {

    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
    height: 455px;
  }
}


.production__play-button {
  display: block;
  position: relative;


  &::after {
    content: "";

    position: absolute;
    z-index: 10;
    top: 37px;
    left: 80px;

    display: block;
    width: 101px;
    height: 78px;

    transition: 0.2s ease-in-out;

    background-image: url("../img/icon-play.svg");
    background-size: 101px 78px;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::after {
      transform: scale(1.2);
    }
  }

  &:active {
    &::after {
      transform: scale(0.8);
      opacity: 0.8;
    }
  }
}

@media (min-width: $tablet-size) {
  .production__play-button {
    &::after {
      top: 188px;
      left: 282px;
    }
  }
}

@media (min-width: $desktop-size) {
  .production__play-button {
    &::after {
      left: 292px;
    }
  }
}

.production__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 33px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-size) {
  .production__text {
    order: 2;
    margin-bottom: 35px;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-size) {
  .production__text {
    margin-bottom: 45px;
    padding: 0;
  }
}

.production__button {
  margin: 0 33px 30px;
}

@media (min-width: $tablet-size) {
  .production__button {
    order: 3;
    margin: 0 40px 45px;
  }
}

@media (min-width: $desktop-size) {
  .production__button {
    margin: 0 0 30px;
  }
}
