.promo__subtitle {
  display: block;
  margin-bottom: 18px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $teal;

  @media (min-width: $tablet-size) {
    position: absolute;
    top: 15px;
    right: 58px;

    max-width: 110px;

    text-align: center;
    line-height: 17px;
  }

  @media (min-width: $desktop-size) {
    left: -145px;
  }
}
