.promo__subtitle {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $teal;
}

@media (min-width: $tablet-size) {
  .promo__subtitle {
    max-width: 110px;

    text-align: center;
    line-height: 17px;
  }
}
