.reviews {
  position: relative;

  padding-top: 26px;
  margin-bottom: 50px;

  @media (min-width: $tablet-size) {
    padding-top: 77px;
    margin-bottom: 130px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 350px;
      height: 457px;

      background-color: #f2f2f2;
      background-image: url("../img/review@1x.jpg");
      background-size: 350px 457px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::before {
        background-image: url("../img/review@2x.jpg");
      }
    }
  }

  @media (min-width: $desktop-size) {
    margin-bottom: 183px;

    &::before {
      top: 7px;
      left: 50px;
    }
  }
}

.reviews__title {
  margin-left: -2px;
  margin-bottom: 23px;

  @media (min-width: $tablet-size) {
    margin-left: -4px;
    margin-bottom: 48px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 32px;
}

.reviews__text {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-size) {
    margin-bottom: 56px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-size) {
    margin-bottom: 37px;
    padding-right: 90px;
  }
}

.reviews__authors-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;

  @media (min-width: $tablet-size) {
    font-size: 18px;
  }
}

.reviews__authors-link {
  display: block;

  font-size: 17px;
  line-height: 30px;
}

.reviews__navigation {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-size) {
    position: absolute;
    bottom: -4px;
    right: 50px;

    width: 176px;
    margin: 0;
  }
}

.reviews__navigation-item {
  width: 50%;
}

.reviews__nav-button {
  width: 100%;
  height: 50px;

  background-color: transparent;

  border: 1px solid #ececec;

  background-position: 50% 50%;
  background-size: 50px 26px;
  background-repeat: no-repeat;

  transition: ease-in-out 0.3s;

  cursor: pointer;

  &--prev {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='26.003px' viewBox='0 0 50 26.003' enable-background='new 0 0 50 26.003' xml:space='preserve'%3E%3Cpolygon points='50,11.002 7.659,11.002 15.833,2.828 13.005,0 0,12.998 0.003,13.001 0,13.005 13.005,26.003 15.833,23.175 7.661,15.002 50,15.002 '/%3E%3C/svg%3E%0A");
  }

  &--next {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='26.003px' viewBox='0 0 50 26.003' enable-background='new 0 0 50 26.003' xml:space='preserve'%3E%3Cpolygon points='0,11.002 42.341,11.002 34.166,2.828 36.995,0 50,12.998 49.996,13.001 50,13.005 36.995,26.003 34.166,23.175 42.339,15.002 0,15.002 '/%3E%3C/svg%3E%0A");
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-size) {
    border: none;
  }
}

.reviews__button {
  @media (min-width: $tablet-size) {
    position: absolute;
    top: 78px;
    right: 50px;

    width: 176px;
  }

  @media (min-width: $desktop-size) {
    top: 85px;
  }
}
