.separator {
  width: 320px;
  margin: 0 auto;

  path {
    fill: #f1f1f1;
  }

  svg {
    width: 320px;
    height: 8px;

    transform: rotate(180deg);
  }

  @media (min-width: $tablet-size) {
    width: 772px;

    svg {
      position: relative;

      width: 772px;
      height: 17px;
    }
  }

  @media (min-width: $desktop-size) {
    width: 1050px;
    margin: 0 auto;

    svg {
      width: 1050px;
      height: 23px;
    }
  }
}
