.separator__wrapper {
  width: 320px;

  margin: 0 auto;

  .separator__image {
    width: 320px;
    height: 8px;

    fill: #f1f1f1;

    transform: rotate(180deg);
  }

  @media (min-width: $tablet-size) {
    width: 772px;

    .separator__image {
      position: relative;

      width: 772px;
      height: 17px;
    }
  }

  @media (min-width: $desktop-size) {
    width: 1050px;
    margin: 0 auto;

    .separator__image {
      width: 1050px;
      height: 23px;
    }
  }
}
