.separator {
  width: 320px;
  margin: 0 auto;
}

.separator svg {
  width: 320px;
  height: 8px;

  transform: rotate(180deg);
}

@media (min-width: $tablet-size) {
  .separator {
    width: 772px;

    svg {
      position: relative;

      width: 772px;
      height: 17px;
    }
  }
}

@media (min-width: $desktop-size) {
  .separator {
    width: 1050px;
    margin: 0 auto;

    svg {
      height: 23px;
    }
  }
}

.separator path {
  fill: #f1f1f1;
}
