body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $graphite;

  background-color: $white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  box-sizing: border-box;
  width: 260px;
  padding: 0 30px;

  &--gapless {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 50px;
    margin: auto;

    &--gapless {
      width: 768px;
      padding: 0 50px;
    }
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}
