@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}
