$white: #ffffff;
$black: #000000;
$graphite: #444444;
$teal: #63d1bb;
$teal-dark: #56c3b2;
$teal-hover: #59d5bc;
$mobile-only: 767px;
$tablet-size: 768px;
$desktop-size: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
